.main {
    background-color: var(--darkgray);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgray);
}

.main-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

.main-content h1 {
    font-size: 2rem;
}

.main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main-button {
    font-size: 1rem;
    background-color: var(--brightred);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
}

.main-button a {
    position: relative;
    z-index: 2;
    color: var(--white);
    text-decoration: none;
}

.main-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 4px;
    background: var(--lightblue);
}

.main-button:hover {
    color: var(--white);
}

.main-button:hover:after {
    width: 100%;
}

.main-image-container {
    text-align: center;
}

#main-image {
    height: 80%;
    width: 80%; 
}

/* Mobile responsive */
@media screen and (max-width: 760px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        background-color: var(--darkgray);
    }

    .main-content {
        justify-self: center;
        color: var(--white);
        width: 80%;
        margin: 0;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main-image {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        text-align: center;
    }

    .main-content h1 {
        font-size: 2.8rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-button {
        padding: 12px 36px;
        margin-top: 2.5rem;
    }
}

.hidden {
    display: none;
}