/* store variables */
:root {
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433d;
}

/* apply common styles to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

/* set the width and background color of the navigation container */
.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}

/* create layout for the navbar */
.navbar {
    display: grid;
    /* make logo take up 20% of the list of navigation links */
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

/* styling for logo */
#navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 20px;
}

/* change cursor to pointer when hovering over the logo */
#navbar-logo {
    cursor: pointer;
}

/* adjust layout and styling for the navigation links */
.nav-menu {
    display: grid;
    /* instead of in list, spread links across navbar */
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

/* styling for navigation links */
.nav-links {
    color: white;
    text-decoration: none;
}

/* change color of navigation links on hover */
.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

/* styling for sign-up button */
.nav-links-button {
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 4px;
}

/* change styles of sign-up button on hover */
.nav-links-button:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightred);
    transition: all 0.3s ease-out;
}

/* styling for menu toggle bars (doesn't exist just yet) */
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white);
}

/* media query for responsive design */
@media screen and (max-width: 768px) {
    
    /* start with relative before absolute, adjust layout for smaller screens */
    .nav-container {
        position: relative;
    }

    /* styling for the menu on smaller screens */
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        /* comment out left and opacity to see how code changed menu appearance*/
        /* keep the menu out of screen until necessary */
        left: -100%;
        opacity: 0; 
        transition: all 0.5s ease;
    }

    /* adjust position of logo when menu appears */
    #navbar-logo {
        margin-left: 20px;
    }

    /* styling for active menu */
    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    /* adjust layout and styling for navigation links on smaller screens */
    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    /* change styles of navigation links on hover for smaller screens */
    .nav-links:hover {
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    /* adjust navbar layout to take up entire screen on smaller screens */
    .navbar {
        width: 100%;
    }

    /* adjust styles of sign-up button on smaller screens */
    .nav-links-button {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    /* reset styles for navigation link button on hover */
    /* so that the navigation link bars don't change format */
    .nav-links-button:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    /* positioning and styling for the mobile menu toggle */
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* styling for the menu toggle bars */
    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* change cursor to pointer when hovering over menu toggle */
    .menu-toggle:hover {
        cursor: pointer;
    }

    /* transform menu bars to X when menu is active */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}